.App {
  text-align: center;
}
.herobannerimg{
    position: absolute;
      left: 600px;
  top: 70px;
  width:500px;
  height: 700px;
  margin-top: -330px;
  border-radius: 20px;
  padding: 5px;
 
}
.herobannerimg2{
  position: absolute;
      left: 1150px;
      top: 70px;
  width:500px;
  height: 700px;
  margin-top: -330px;
  border-radius: 20px;
    padding: 5px;
}
@media screen and (max-width:1200px) {

   .herobannerimg {
    display: none;
  }
   .herobannerimg2 {
    display: none;
  }
}
.se-text{
  align-items: center;
}

.bodypartcard {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}
.bodypartcard:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.rightarrow,
.leftarrow {
  cursor: pointer;
  outline: none;
  color: #FF2625;

}
.react-horizontal-scrolling-menu--wrapper {
  display: none;
}
