.App {
  text-align: center;
}
.herobannerimg{
    position: absolute;
      left: 600px;
  top: 70px;
  width:500px;
  height: 700px;
  margin-top: -330px;
  border-radius: 20px;
  padding: 5px;
 
}
.herobannerimg2{
  position: absolute;
      left: 1150px;
      top: 70px;
  width:500px;
  height: 700px;
  margin-top: -330px;
  border-radius: 20px;
    padding: 5px;
}
@media screen and (max-width:1200px) {

   .herobannerimg {
    display: none;
  }
   .herobannerimg2 {
    display: none;
  }
}